/*---------------BODY---------------*/
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #015CA9;
    color: #FFFFFF;
}

/*--------------HEADER--------------*/
header {
    background-color: #01315A;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 30px;
}

/*--------------ARTICLE--------------*/
article {
    background-color: #0095D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.tahoe {
    width: 95%;
    height: auto;
    margin-top: 50px;
    border-radius: 10px;
}

.facts {
    margin: 5%;
    font-size: 20px;
    text-align: center;
}

/*------------CONTACT FORM-----------*/

/*---------------FOOTER---------------*/