/*---------------BODY---------------*/
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #015CA9;
    color: #FFFFFF;
}

/*--------------HEADER--------------*/
header {
    background-color: #01315A;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 30px;
}

/*--------------ARTICLE--------------*/

/*------------CONTACT FORM-----------*/

/*---------------FOOTER---------------*/